* {
    margin: 0;
    padding: 0;
}

.heading {
    display: flex;
    align-items: center;
    background-color: white;
    height: 10vh;
}

.heading>div {
    font-size: 25px;
}

.radius-input {
    display: flex;
    align-items: center;
    background-color: white;
    height: 10vh;
}

input {
    width: 20%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: white;
    padding: 20px, 0px;
    margin: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #EEEEEE;
}

.clock-canvas {
    width: 480px;
    height: 480px;
    border: 1px solid #000000;
    background-color: #EEEEEE;
}