html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.root {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
}

.headline-section {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
    font-size: 16px;
    color: black;
}

.headline-label {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-weight: bold;
}

.headline-content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.radius-input {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: stretch;
    margin: 0px 10px;
}

.in_de-crement-button {
    text-align: center;
    border: 1px solid #9E9E9E;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: #E0E0E0;
}

.value-box {
    padding: 0px 20px;
    border-top: 1px solid #9E9E9E;
    border-bottom: 1px solid #9E9E9E;
    color: black;
    background-color: #EEEEEE;
}

.clock-section {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0E0E0;
}

.clock-canvas {
    width: 480px;
    height: 480px;
    border: 1px solid black;
    background-color: #E0E0E0;
}